@model Lab03.Models.BookCopyRental

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>BookCopyRental</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RentalDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RentalDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RentalDueDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RentalDueDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RentalReturnDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RentalReturnDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BookCopy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookCopy.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
